/* Write CSS here */
.bgContainer {
  background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-sm-bg.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .bgContainer {
    background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-lg-bg.png');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.heading {
  font-family: 'Roboto';
}
.smallCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}
.imgTimer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.timerPara {
  font-family: 'Roboto';
  font-size: 20px;
  margin: 5px;
}
.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
